services:
  - type: web
    name: bitbox
    env: python
    plan: free
    branch: main
    rootDirectory: .
    buildCommand: "./build.sh"
    startCommand: "python manage.py runserver 0.0.0.0:8000"
    envVars:
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        generateValue: true
      - key: ALLOWED_HOSTS
        value: ".onrender.com"
      - key: PYTHON_VERSION
        value: "3.11.0"